<div class="side-header show">
    <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
    <!-- side header inner start-->
    <div class="side-header-inner custom-scroll">
        <nav class="side-header-menu" id="side-header-menu">
            <ul>
                <li><a href="/admin/dashboard"><i class="ti-home"><span>داشبورد</span></i></a></li>
                <li><a href="/admin/posts"><i class="ti-pencil-alt"><span>مطالب</span></i></a></li>
                <li><a href="/admin/comments"><i class="ti-comments"><span>دیدگاه ها</span></i></a></li>
                <li><a href="/admin/users"><i class="ti-comments"><span>کاربران</span></i></a></li>
                <li><a href="/admin/settings"><i class="ti-settings"><span>تنظیمات</span></i></a></li>
            </ul>
        </nav>
    </div>
    <!-- side header end-->

    <!--content body start-->
    <div class="content-body">
        {{{ body }}}
    </div>
    <!--content body end-->
</div>




